#app,
body,
el-main {
    margin: 0;
    padding: 0;
}

a {
    color: #444;
    text-decoration: none;
}

.Avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 5px;
}

.el-menu--horizontal a {
    color: #fff;
}

.blogBox {
    padding: 15px 0;
}

.container {
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.container label {
    width: 100%;
    line-height: 18px;
    padding: 5px;
    display: block;
}

.container input,
textarea {
    text-align: left;
    width: 100%;
    padding: 10px 5px;
}

.container span {
    display: block;
}

.selectFenlei {
    padding: 5px 10px;
}

.selectFenlei input {
    width: 10px;
}

.selectFenlei span {
    display: inline;
}

.container .submitBtn {
    background-color: cornflowerblue;

    text-align: center;
    color: #fff;
    cursor: pointer;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    display: flex;
    align-items: center;
    text-align: center;
}

.loadingBox {
    background-color: #000;
    color: chartreuse;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.addSuccess {
    padding: 30px 0;
    background-color: darkcyan;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}